@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trillium Health Partners Foundation</h1>
    <p class="lead"></p>
    <p><a href="https://localhost:44316/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            Trillium Health Partners Foundation works across our community to raise the crucial funds needed to advance the highest priority needs of Trillium Health Partners. Our three sites – Credit Valley Hospital, Mississauga Hospital and Queensway Health Centre – together form one of the largest community academic hospitals in Canada.
        </p>
        <p><a class="btn btn-default" href="https://trilliumgiving.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>Our Foundation’s mission is to inspire our community to invest in a new kind of health care for a healthier community..</p>
        <p><a class="btn btn-default" href="https://trilliumgiving.ca/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We Need Your Help</h2>
        <p>
            Your help is essential to achieve our vision.
            Decades ago, community support helped establish each of our three hospital sites. Your generosity today will allow us to realize our bold vision for a new kind of health care to meet the needs of our growing region..
        </p>
        <p><a class="btn btn-default" href="https://trilliumgiving.ca/">Learn more &raquo;</a></p>
    </div>
</div>